h1 {
    color: blue;
    text-align: center;
  }
body {
    background-color: antiquewhite;
    padding-left: 100px;
}

h2 {
    color: green;
    font-style: italic;
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p {
    font-family: sans-serif;
}
ul {
    line-height: 40px;
}